{% extends "gj-layout.html" %}

{% block extra_imports %}
{% if "username" not in session %}
<script type="text/javascript"
	src="{{ url_for('static', filename='main.js') }}">
</script>

{% endif %}

{% if "username" in session %}

<script src="{{ url_for('html_editor.static', 
	     filename='aloha/lib/require.js') }}"> </script>

<script src="{{ url_for('html_editor.static', 
	     filename='aloha/lib/aloha.js') }}"
	data-aloha-plugins=""> </script>

<script type="text/javascript"
	src="{{ url_for('html_editor.static', 
	     filename='aloha-config.js') }}">
</script>

<script type="text/javascript"
	src="{{ url_for('static', filename='edit-gj.js') }}">
</script>

<link href="{{ url_for('html_editor.static', 
	    filename='aloha/css/aloha.css') }}"
      rel="stylesheet"
      type="text/css" />

<link href="{{ url_for('static', 
	    filename='custom-aloha.css') }}"
      rel="stylesheet"
      type="text/css" />

<script type="text/javascript"
	src="{{ url_for('html_editor.static',
	     filename='html_editor.js') }}"></script>

{% endif %}

{% endblock extra_imports %}

{% block logout %}

{% if "username" in session %}
<form action="{{ url_for('accounts.logout') }}">
  <input type="submit" value="logout" />
</form>
{% endif %}

{% endblock logout %}

