<html>
  <head>
    {% block title %}
    <title>Gentle Journey - Facials & Waxing</title>
    {% endblock title %}
    

    <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" 
	  rel="stylesheet" 
	  type="text/css" />

    <link 
       href="http://fonts.googleapis.com/css?family=Arapey:400italic,400" 
       rel="stylesheet" 
       type="text/css" />

    <link href="{{ url_for('static', filename='style.css') }}" 
	  rel="stylesheet" 
	  type="text/css" />


    <script type="text/javascript" 
	    src="{{ url_for('static', filename='jquery-1.6.3.min.js') }}">
    </script>
    {% block extra_imports %}
    {% endblock extra_imports %}

  </head>
  <body>
    <div id="page">
      <header id="branding">
	<hgroup>
	  <div id="header-left">
	    {% block logout %}
	    {% endblock logout %}
	    <h1 id="site-title">
	      <a href="{{ url_for('index') }}" 
		 title="Gentle Journey" 
		 rel="home">Gentle Journey
	      </a>
	    </h1>
	    <p id="site-description">Facials &amp; Waxing</p>
	  </div>
	  
	  <div id="header-right">
	    <h3 id="phone-number">310-876-2174</h3>
	    <p id="address">710 Wilshire Blvd. #410,
	      <br/>
	      Santa Monica, CA 90401</p>
	  </div>
	  
	</hgroup>
      </header>
      {% block nav %}
      {% endblock nav %}
      <div id="main">
	<div id="primary">
	  <div class="main-container">
	    {% block content %}
	    {% endblock content %}
	  </div>
	</div>

      </div>
    </div>
  </body>
</html>
