{% extends "navigation.html" %}


{% block content %}
<img src="http://standyro.com/gentlejourney-new/assets/slider12.png">
<div id="dayspa">
  <h2> A relaxing and friendly day spa in Santa Monica </h2>
</div>
<div id="content">
  <p>Gentle Journey is a breezy sunny day spa overlooking the ocean in lovely Santa Monica, California. We live to provide you with quality service but forgo the complimentary champagne or other unnecessary frills.</p>
<p>
  Comfortable and friendly, estheticians who are “all about you”, like a friend. Expect to leave laughing.
</p>
</div>
{% endblock content %}
