{% extends "navigation.html" %}

{% block content %}
<div class="content">
  <div class="services">
    <table>
      <tr>
	<h1></h1>
	<td>
	  <div class="procedure">
	    <h1 class="entry-title"> Facials</h1>
	    <div class="service_content">
	      {% for service in services %}

	      <div class="service">
		<div class="service-title"> {{ service.title }}	</div>
		<span class="service-price">{{ service.price }}</span>
		<div class="service-body" hidden="true">
		  {{ service.body }}
		</div>
	      </div>
	      {% else %}
	      No Services here
	      {% endfor %}
	    </div>
	  </div>

	<td>
	  <div class="procedure">
	    <h1 class="entry-title">Waxing</h1>
	    
	    <div class="service_content">
	      {% for service in services %}
	      <div class="service">
		<div class="service-title"> {{ service.title }}</div>
		<span class="service-price">{{ service.price }}</span>
	      </div>
	      {% else %}
	      No Services here
	      {% endfor %}
	    </div>	      
	  </div>
	</td>

	<td>
	  <div class="procedure">
	    <h1 class="entry-title">Microdermabration</h1>
	    <div class="service_content">
	      <div class="service">
		<div class="service-title">
		  
		</div>
	      </div>
	    </div>
	  </div> 
	  
	</td>
      <tr>
    </table>
  </div>
</div>
{% endblock content %}
